.block-wrapper {
    padding: 2.5vw 0;
    margin: 0 auto;

    @include for-tablet {
        max-width: 97%;
    }
    @include for-desktop {
        max-width: 85%;
    }
    @include for-desktop-up {
        max-width: 70%;
    }
    text-align: justify;
}

.block-grid {
    margin: 0 auto;
    padding-top: 2%;
    display: grid;
    text-align: center;
    & div {
        justify-self: center;
        line-height: 1.5;
        @include font($size: 1.4rem, $family: $fontRoboto, $weight: 400);
    }
    h4 {
        padding-top: 5px;
    }
}

.about-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include for-phone {
        grid-template-columns: 1fr 1fr;
    }
}

.content-wrapper {
    padding: 20px;
    padding-right: 0px;

    line-height: 2;
    @include font($size: 1.6rem, $family: $fontRoboto, $weight: 400);
    @include for-phone {
        @include font($size: 1.4rem, $family: $fontRoboto, $weight: 400);
    }
    
}

.content-wrapper-tab {
    display: block;
    
    @include for-phone {
        padding: 20px 0px;
    }
    h3 {
        text-align: right;
        overflow-wrap: break-word;
        @include font($size: 2.4rem, $family: $fontComfortaa, $weight: 700);
        @include for-tablet {
            @include font($size: 1.9rem, $family: $fontComfortaa, $weight: 700);
        }
        @include for-phone {
            @include font($size: 1.2rem, $family: $fontComfortaa, $weight: 700);
            text-align: center;
        }
        @include for-small-phone {
            @include font($size: 1rem, $family: $fontComfortaa, $weight: 700);
        }
    }

    .ui.tab.active {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.content-wrapper-guides{

    padding: 20px 0px;
    line-height: 2;
    @include font($size: 1.6rem, $family: $fontRoboto, $weight: 400);
    @include for-phone {
        @include font($size: 1.4rem, $family: $fontRoboto, $weight: 400);
    }

}